.App {
  text-align: center;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #38B0DE;
}
h1#mainHeader{
  font-family: 'Shrikhand', cursive;
  font-size: 6vw;
  color: #FFFFFF;
  letter-spacing: 2px;
  font-weight: 50;
}

div.posts{
  width: 90%;
  display: table;
  margin:0 auto;
}
div.postRow{
  background-color: floralwhite;
  padding: 20px;
  width: 30vw;
  height: 100px;
  margin-left: 7px;
  border-bottom:solid #38B0DE 7px;
  float: left;
}

@media only screen and (max-width: 600px) {
  div.postRow{
    width: 80%;
  }
}

img.userImage{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float: left;
}